body {
  margin-top: 10vh;
}

ul {
  border: solid grey 1px;
}

li {
  list-style-type: none;
}

#refresh-btn {
  margin-left: 15px;
}

#refresh-btn img {
  width: 80%;
  height: auto;
}

#refresh-btn :hover {
  cursor: pointer;
}
