body {
  margin-top: 10vh;
  margin-left: 20vw;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 10px;
  width: 210px;
  border: solid grey 1px;
}

.flex {
  display: flex;
  flex-direction: row;
}

#add-score {
  margin-left: 5vw;
}

#input-name,
#input-score {
  margin-bottom: 15px;
}

#name-socre-submit {
  margin-left: 90px;
}
